n8n/workflows/whatsapp-rag-chatbot.json
{
  "name": "KnowLigo WhatsApp RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "knowligo-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verification-check",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-verification",
      "name": "Is Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Webhook Verification para WhatsApp Cloud API\nconst query = $input.item.json.query || {};\nconst verifyToken = query['hub.verify_token'];\nconst expectedToken = 'knowligo_webhook_2026';\nconst challenge = query['hub.challenge'];\n\nconsole.log('Verify token received:', verifyToken);\nconsole.log('Expected token:', expectedToken);\nconsole.log('Challenge:', challenge);\n\nif (verifyToken === expectedToken && challenge) {\n  return [{\n    json: {\n      challenge: challenge\n    }\n  }];\n} else {\n  throw new Error('Verification failed: token mismatch or no challenge');\n}"
      },
      "id": "verify-token",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 100]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-verification",
      "name": "Respond Verification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-messages",
              "leftValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filter Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del webhook de WhatsApp\nconst webhookData = $input.item.json.body;\n\ntry {\n  const messages = webhookData.entry[0].changes[0].value.messages;\n  const contacts = webhookData.entry[0].changes[0].value.contacts;\n  \n  if (messages && messages.length > 0) {\n    const message = messages[0];\n    const contact = contacts[0];\n    \n    // Solo procesar mensajes de texto\n    if (message.type !== 'text') {\n      return [{ json: { skip: true } }];\n    }\n    \n    return [{\n      json: {\n        user_id: message.from,\n        message: message.text.body,\n        user_name: contact.profile.name,\n        timestamp: message.timestamp,\n        message_id: message.id\n      }\n    }];\n  }\n} catch (error) {\n  console.error('Error extracting WhatsApp data:', error);\n}\n\nreturn [{ json: { skip: true } }];"
      },
      "id": "extract-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/query",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"user_id\": \"{{ $json.user_id }}\", \"message\": \"{{ $json.message }}\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-rag-api",
      "name": "KnowLigo RAG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-api-success",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Extract Message Data').item.json.user_id }}\", \"type\": \"text\", \"text\": { \"body\": \"{{ $json.response }}\" } }",
        "options": {}
      },
      "id": "send-whatsapp-success",
      "name": "Send WhatsApp (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-bearer",
          "name": "WhatsApp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Extract Message Data').item.json.user_id }}\", \"type\": \"text\", \"text\": { \"body\": \"Disculpa, tengo problemas técnicos en este momento. Por favor, intenta nuevamente en unos momentos.\" } }",
        "options": {}
      },
      "id": "send-whatsapp-error",
      "name": "Send WhatsApp (Error)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-bearer",
          "name": "WhatsApp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }"
      },
      "id": "respond-webhook-ok",
      "name": "Respond Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }"
      },
      "id": "respond-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification?": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Respond Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "KnowLigo RAG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KnowLigo RAG API": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Success": {
      "main": [
        [
          {
            "node": "Send WhatsApp (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (Success)": {
      "main": [
        [
          {
            "node": "Respond Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (Error)": {
      "main": [
        [
          {
            "node": "Respond Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-12T00:00:00.000Z",
  "versionId": "3.0.0"
}
