n8n/workflows/whatsapp-rag-chatbot.json
{
  "name": "KnowLigo WhatsApp RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "knowligo-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.entry[0].changes[0].value.messages }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter-messages",
      "name": "Filter Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del webhook de WhatsApp\nconst webhookData = $input.item.json;\n\ntry {\n  const messages = webhookData.entry[0].changes[0].value.messages;\n  const contacts = webhookData.entry[0].changes[0].value.contacts;\n  \n  if (messages && messages.length > 0) {\n    const message = messages[0];\n    const contact = contacts[0];\n    \n    return {\n      user_id: message.from,\n      message: message.text.body,\n      user_name: contact.profile.name,\n      timestamp: message.timestamp,\n      message_id: message.id\n    };\n  }\n} catch (error) {\n  throw new Error('Error extracting WhatsApp data: ' + error.message);\n}\n\nreturn {};"
      },
      "id": "extract-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://api:8000/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-rag-api",
      "name": "KnowLigo RAG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extract Message Data').item.json.user_id }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: $json.response } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-success",
      "name": "Send WhatsApp (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Extract Message Data').item.json.user_id }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { body: 'Disculpa, tengo problemas técnicos en este momento. Por favor, intenta nuevamente en unos momentos.' } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp-error",
      "name": "Send WhatsApp (Error)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }"
      },
      "id": "respond-ignored",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Filter Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Messages": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "KnowLigo RAG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KnowLigo RAG API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send WhatsApp (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (Success)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (Error)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}
